html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.article {
  width: 1200px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  padding: 30px 50px;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 200px 200px #3993cf inset, 0 0 0 0 #3498db;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.article:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 5px #3498db;
  color: #000000;
  font-size: 40px;
  font-weight: bold;
}

.article-conteiner {
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.article-languages {
  list-style: none;
}

.article-img {
  border-radius: 10px;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.article:hover .article-img {
  box-shadow: 0 0 10px 0 #01101a inset, 0 0 10px 2px #010b13;
  transform: scale(1.15);
}

.article-title {
  text-transform: uppercase;
}

.js-label {
  display: block;
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: 500;
}

.js-input {

  height: 40px;
  font-size: 26px;
  padding: 5px, 5px 5px, 15px;
}
/* === modal */

.is-hidden {
  display: none;
}
